<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script data-search-pseudo-elements defer src="fontawesome.js"></script>
    <title>Résumé Grégoire Deveaux</title>
</head>

<body lang="en">
    <section id="main">
        <header id="title">
            <h1>Grégoire Deveaux</h1>
            <span class="subtitle">I help teams design and build simple and efficient solutions via short iterations and clean code.</span>
        </header>


        <section class="main-block">
            <h2>
                <i class="fa fa-suitcase"></i> Work History
            </h2>
            <section class="blocks">
                <div class="date">
                    <span>{{ present }}</span><span>2020</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <span class="location">Remote</span>
                        <h3>Back Market</h3>
                        <span class="place">
                            {{ staffBackendEngineer }}
                            <br>{{ leadBackendEngineer }}
                            <br>{{ seniorBackendEngineer }}
                        </span>
                    </header>
                    <div style="margin-top: 12mm">
                        Coordination, design and implementation of systems for a major marketplace of refurbished tech.
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2020</span><span>2019</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <span class="location">Bordeaux</span>
                        <h3>Robin'Finance</h3>
                        <span class="place">{{ seniorBackendEngineer }}</span>
                    </header>
                    <div>
                        Design and implementation of APIs and tools for a fintech startup.
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2019</span><span>2008</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <span class="location">Bordeaux</span>
                        <h3>Orange Business Services</h3>
                        <span class="place">
                            Technical Architect
                            <br>
                            {{ softwareEngineer }}
                        </span>
                    </header>
                    <div style="margin-top: 8mm">
                        Design and implementation of web and mobile applications for a leading network and digital integrator.
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2008</span><span>2006</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <span class="location">Joué-lès-Tours</span>
                        <h3>Hervé group</h3>
                        <span class="place">{{ developper }}</span>
                    </header>
                    <div>
                        Implementation and maintainance of intranet applications for a construction company. 
                    </div>
                </div>
            </section>
        </section>

        <section class="main-block concise">
            <h2>
                <i class="fa fa-graduation-cap"></i> {{ education }}
            </h2>
            <section class="blocks">
                <div class="date">
                    <span>2014</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>{{ scrumCertification }}</h3>
                    </header>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2006</span><span>2001</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <span class="location">{{ bordeauxUniversity }}</span>
                        <h3>{{ computerScienceMaster }}</h3>
                        <span class="place">ERASMUS student for a semester<br>{{ masterSpecialty }}</span>
                        <span class="location">Bristol University</span>
                    </header>
                </div>
            </section>
        </section>

        <section class="main-block">
            <h2>
                <i class="fa fa-folder-open"></i> Key Projects
            </h2>
            <section class="blocks">
                <div class="date">
                    <span>2024</span><span>2023</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Production access</h3>
                        <span class="place"><a href="https://www.backmarket.com/">Back Market</a></span>
                    </header>
                    <div>
                        With another staff engineer, we coordinate the restriction of accesses
                        to production data and resources across the whole tech department.
                        This year-long project involved infrastructure and software engineers from multiple teams.
                        <span class="tools">
                            Stack: Teleport, Okta, Cloudflare Access, OAuth2 Proxy
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2023</span><span>2022</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Migration to services</h3>
                        <span class="place"><a href="https://www.backmarket.com/">Back Market</a></span>
                    </header>
                    <div>
                        I take an active part in the overall design of the transition from a monolithic
                        to a service oriented architecture. I lead the supply scope (3 teams, 15 to 20 engineers),
                        including an extraction of the products catalog to a SaaS.  
                        <span class="tools">
                            Stack: Python, FastAPI, PostgreSQL, RabbitMQ, Redis, Nginx, Kubernetes, GCP, OpenAPI, AsyncAPI
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2022</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Identity team</h3>
                        <span class="place"><a href="https://www.backmarket.com/">Back Market</a></span>
                    </header>
                    <div>
                        I help bootstrap a new team and new services dedicated to authentication and authorization,
                        defining the flows across mobile, front, backend and infrastructure,
                        and contribute to the services implementation.
                        <span class="tools">
                            Stack: Go, Ory Hydra, Nginx, Kubernetes, AWS, ArgoCD 
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2022</span><span>2021</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Ingestion resiliency</h3>
                        <span class="place"><a href="https://www.backmarket.com/">Back Market</a></span>
                    </header>
                    <div>
                        I lead the catalog team to build resilient sellers' catalog ingestion APIs.
                        We went from manual support, based on logs and runbooks,
                        to a self-healing, resilient, auto-scaling system handling millions of updates per day.
                        <span class="tools">
                            Stack: Python, Django, Celery, MySQL, RabbitMQ, Redis, Kubernetes, AWS
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2020</span><span>2019</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3><a href="https://mieuxplacer.com/">MieuxPlacer.com</a></h3>
                        <span class="place">Robin'Finance</span>
                    </header>
                    <div>
                        In a small startup (less than 10 engineers), I build APIs and batches
                        for the website mieuxplacer.com and external partners (banque Casino, Moniwan, Magna Carta).
                        <span class="tools">
                            Stack: Python, Django, Go, MySQL, React, AWS
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2019</span><span>2015</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3><a href="https://www.orange-business.com/fr/solutions/mobilite/pack-id">Pack ID</a></h3>
                        <span class="place">Orange Business Services</span>
                    </header>
                    <div>
                        In a team of 5 engineers, I'm responsible for the architecture of a 
                        contactless authentication service.
                        It involves the design of web and contactless APIs, and the implementation 
                        of web and mobile apps and SDKs.
                        <span class="tools">
                            Stack: Java, Spring, JAX-RS, JPA, Swift, Kotlin, Kibana, Jenkins, NFC, Bluetooth
                        </span>
                    </div>
                </div>
            </section>
            <section class="blocks">
                <div class="date">
                    <span>2015</span><span>2012</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Contactless payment</h3>
                        <span class="place">Orange Business Services</span>
                    </header>
                    <div>
                        I participate to the creation of a 
                        platform remotly installing credit cards on SIM cards.
                        I represent the software ingeneering team during the Mastercard certification
                        and participate to GobalPlatform specification workshops.
                        <span class="tools">
                            Stack: Java, Spring, HSM, Secure Elements, GlobalPlatform

                        </span>
                    </div>
                </div>
            </section>
            <!-- <section class="blocks">
                <div class="date">
                    <span>2012</span><span>2011</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3><a href="https://www.orange-business.com/fr/solutions/relation-client/guide-vocal">Guide Vocal</a></h3>
                        <span class="place">Orange</span>
                    </header>
                    <div>
                        {{ guideVocalDecription1 }}
                        <br>{{ guideVocalDecription2 }}
                    </div>
                </div>
            </section> -->
            <!-- <section class="blocks">
                <div class="date">
                    <span>2011</span><span>2010</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>{{ statsVocal }}</h3>
                        <span class="place">Orange</span>
                    </header>
                    <div>
                        {{ statsVocalDecription1 }}
                        <br>{{ statsVocalDecription2 }}
                    </div>
                </div>
            </section> -->
            <!-- <section class="blocks">
                <div class="date">
                    <span>2009</span><span>2010</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Mon Banquier en Ligne</h3>
                        <span class="place">Caisse d'Épargne</span>
                    </header>
                    <div>
                        {{ monBanquierDescription1 }}
                        <br>{{ monBanquierDescription2 }}
                    </div>
                </div>
            </section> -->
            <!-- <section class="blocks">
                <div class="date">
                    <span>2009</span><span>2008</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Welles</h3>
                        <span class="place">Orange</span>
                    </header>
                    <div>
                        {{ wellesDescription1 }}
                        <br>{{ wellesDescription2 }}
                    </div>
                </div>
            </section> -->
            <!-- <section class="blocks">
                <div class="date">
                    <span>2008</span><span>2006</span>
                </div>
                <div class="decorator">
                </div>
                <div class="details">
                    <header>
                        <h3>Intranet</h3>
                        <span class="place">Groupe Hervé</span>
                    </header>
                    <div>
                        {{ intranetGhDescription1 }}
                        <br>{{ intranetGhDescription2 }}
                    </div>
                </div>
            </section> -->
        </section>
    </section>
    <aside id="sidebar">
        <img id="photo" src="photoId.jpg">
        <div class="side-block" id="contact">
            <h1>
                Contact Info
            </h1>
            <ul>
                <li><i class="fa fa-envelope"></i> <a href="mailto:ggdx@laposte.net">ggdx@laposte.net</a></li>
                <li><i class="fa fa-phone"></i> <a href="tel:+33661784022">{{ phoneNumber }}</a></li>
            </ul>
        </div>
        <div class="side-block" id="skills">
            <h1>
                {{ skills }}
            </h1>
            <ul>
                <li>System design</li>
                <li>Scrum & Kanban</li>
                <li>Continuous Integration</li>
                <li>Continuous Delivery</li>
                <li>Pair Programming</li>
                <li>Test Driven Development</li>
            </ul>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Go</li>
                <li>Kotlin</li>
                <li>Swift</li>
                <li>TypeScript</li>
            </ul>
            <ul>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>Redis</li>
                <li>RabbitMQ</li>
                <li>Nginx</li>
            </ul>
            <ul>
                <li>Kubernetes</li>
                <li>Terraform</li>
                <li>ArgoCD</li>
                <li>AWS</li>
                <li>GCP</li>
                <li>Cloudflare</li>
                <li>Datadog</li>
            </ul>
            <ul>
                <li>Cryptography</li>
                <li>Hardware Security Module</li>
                <li>Secure Element</li>
            </ul>
            <ul>
                <li>Android</li>
                <li>iOS</li>
                <li>NFC</li>
                <li>Bluetooth</li>
            </ul>
        </div>
    </aside>
</body>

</html>