@page {
  margin: 0;
  size: A4 portrait;
}

* {
  box-sizing: border-box;
}

@width: 210mm;
@height: 297mm;
@main-width: 162mm;
@sidebar-width: @width - @main-width;
@sidebar-horizontal-padding: 5mm;
@decorator-horizontal-margin: 5mm;
@date-block-width: 15mm;
@decorator-outer-offset-top: 10px;
@decorator-outer-offset-left: -5.5px;
@decorator-border-width: 1px;
@decorator-outer-dim: 9px;
@decorator-border: 1px solid #ccc;

@row-blocks-padding-top: 5pt;

@main-blocks-title-icon-offset-left: -19pt;

body {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  height: @height;
  hyphens: auto;
  line-height: 1.3;
  margin: 0;
  width: @width;
}

h1,
h2,
h3 {
  color: #000;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

#main {
  float: left;
  font-size: 7pt;
  padding: 2.35mm 6.35mm 0 6.35mm;
  width: @main-width;
}

#sidebar {
  background-color: #f2f2f2;
  float: right;
  font-size: 8.5pt;
  height: 100%;
  padding: 6.35mm @sidebar-horizontal-padding;
  position: relative; /* for disclaimer */
  width: @sidebar-width;
}

#photo {
    width: @sidebar-width - @sidebar-horizontal-padding * 4;
}

/* main */

/** big title **/
#title,
h1,
h2 {
  //text-transform: uppercase;
}

#title {
  left: 14mm;
  line-height: 1.2;
  position: relative;
}

#title h1 {
  font-size: 18pt;
  font-weight: 300;
  line-height: 1.5;
}

#title h1 strong {
  font-weight: 600;
  margin: auto 2pt auto 4pt;
}

.subtitle {
  font-size: 8pt;
}

/*** categorial blocks ***/

.main-block {
  margin-top: 2.5mm;
}

#main h2 {
  color: #555;
  font-size: 11pt;
  font-weight: 400;
  /* XXX: 0.5px for aligning fx printing */
  left: @date-block-width + @decorator-horizontal-margin;
  position: relative;
  top: @row-blocks-padding-top;
}

#main h2 > i {
  color: #444;
  left: @main-blocks-title-icon-offset-left;
  /* use absolute position to prevent icon's width from misaligning title */
  /* assigning a fixed width here is no better due to needing to align decorator
     line too */
  position: absolute;
  z-index: 1; /* over decorator line */
}

#main h2::after {
  border-left: @decorator-border;
  content: " ";
  display: block;
  font-size: 0;
  /* extends the decorator line */
  height: @row-blocks-padding-top * 2;
  /* XXX: 0.5px for aligning fx printing */
  left: -1 * @decorator-horizontal-margin;
  line-height: 0;
  position: relative;
  top: -1 * @row-blocks-padding-top;
  z-index: 0;
}

/**** minor tweaks on the icon fonts ****/
#main h2 > .fa-graduation-cap {
  left: @main-blocks-title-icon-offset-left - 2pt;
  top: 2pt;
}

#main h2 > .fa-suitcase {
  top: 1pt;
}

#main h2 > .fa-folder-open {
  top: 1.5pt;
}

/**** individual row blocks (date - decorator - details) ****/

.blocks {
  display: flex;
  flex-flow: row nowrap;
}

.blocks > div {
  padding-top: @row-blocks-padding-top;
}

.date {
  flex: 0 0 @date-block-width;
  font-size: 7pt;
  line-height: 1;
  padding-right: @decorator-horizontal-margin;
  padding-top: @row-blocks-padding-top + 2.5pt !important;
  text-align: right;
}

.date span {
  display: block;
}

.date span:nth-child(2)::before {
  content: "|";
  display: block;
  height: 10pt;
  position: relative;
  right: 5.5pt;
  top: 1pt;
}

.decorator {
  border-left: @decorator-border;
  flex: 0 0 0;
  min-height: 100%;
  position: relative;
  width: 2pt;
}

/*
 * XXX: Use two filled circles to achieve the circle-with-white-border effect.
 * The normal technique of only using one pseudo element and
 * border: 1px solid white; style makes firefox erroneously either:
 * 1) overflows the grayshade background (if no background-clip is set), or
 * 2) shows decorator line which should've been masked by the white border
 *
 */

.decorator::before {
  background-color: #fff;
  border-radius: @decorator-outer-dim / 2;
  content: " ";
  display: block;
  height: @decorator-outer-dim;
  left: @decorator-outer-offset-left;
  position: absolute;
  top: @decorator-outer-offset-top;
  width: @decorator-outer-dim;
}

.decorator::after {
  background-color: #555;
  border-radius: (@decorator-outer-dim - @decorator-border-width * 2) / 2;
  content: " ";
  display: block;
  height: @decorator-outer-dim - @decorator-border-width * 2;
  left: @decorator-outer-offset-left + @decorator-border-width;
  position: absolute;
  top: @decorator-outer-offset-top + @decorator-border-width;
  width: @decorator-outer-dim - @decorator-border-width * 2;
}

/*
.blocks:last-child .decorator {
  margin-bottom: 6.35mm;
}
*/

/***** fine-tunes on the details block where the real juice is *****/

.details {
  flex: 1 0 0;
  padding-left: @decorator-horizontal-margin;
  padding-top: @row-blocks-padding-top - 0.5pt !important; /* not sure why but this is needed for better alignment */
}

.details header {
  color: #000;
}

.details h3 {
  font-size: 9pt;
}

.main-block:not(.concise) .details div {
  margin: 4.8mm 0 2.54mm 0;
}

.main-block:not(.concise) .blocks:last-child .details div {
  margin-bottom: 0;
}

.main-block.concise .details div:not(.concise) {
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 1.27mm 0 1.778mm 0;
}

.details .place {
  float: left;
  font-size: 7.5pt;
}

.details .jobTitle {
  display: block;
  font-size: 7.5pt;
 }

 .details .jobDescription {
  display: block;
//  font-size: 7.5pt;
 }

.details .location {
  float: right;
}

.details div {
  clear: both;
}

.details .location::before {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.details .location::before {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-weight: 900;
}

.details .location .svg-inline--fa {
  margin-right: 3pt;
}

/***** fine-tunes on the lists... *****/

#main ul {
  margin: 2mm 0;
  padding-left: 1.8mm;
}

#main li {
  margin: 0 0 0.0635mm 0;
}

/****** customize list symbol style ******/
#main li::before {
  content: "• ";
  margin-left: -4.25pt;
  position: relative;
}

.details .concise ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  margin: 0 !important;
}

.details .concise li {
  margin: 0 !important;
}

.details .concise li {
  margin-left: 0 !important;
}

/* sidebar */

#sidebar h1 {
  font-size: 11pt;
  font-weight: 400;
}

.side-block {
  margin-top: 5.0mm;
}

#contact ul {
  // font-family: "Source Code Pro";
  // font-weight: 400;
  line-height: 1.75;
  margin-top: 1.27mm;
  padding-left: 0;
}

#contact li > i {
  text-align: right;
  width: 9pt; /* for text alignment */
}

#contact li > a {
  color: #444;
}

#skills {
  line-height: 1.5;
}

#skills ul {
  margin: 1.27mm 0 3.81mm;
  padding: 0;
}

#disclaimer {
  bottom: @sidebar-horizontal-padding;
  color: #777;
  font-size: 7.5pt;
  font-style: italic;
  line-height: 1.1;
  position: absolute;
  right: @sidebar-horizontal-padding;
  text-align: right;
}

#disclaimer code {
  color: #666;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

.tools {
  display: block;
  font-style: italic;
}